@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-Light.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('SFMono-LightItalic.otf') format("opentype");
    font-weight: normal;
    font-style: italic;
}
